---
on:
  push:
    branches-ignore:
      - main
permissions:
  contents: read

jobs:
  formatting_and_linting:
    permissions:
      contents: write  # for Git to git push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v4.1.1
        with:
          token: ${{ secrets.WRITE_PACKAGE_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.12'

      - name: Set up cache for Python dependencies
        uses: actions/cache@v5
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          cd plotting-service
          python -m pip install --upgrade pip
          python -m pip install .[formatting]

      - name: Run ruff formatting
        run: |
          ruff format plotting-service

      - name: Run ruff linting
        run: |
          ruff check --fix plotting-service

      - name: Commit changes
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "Formatting and linting commit" || true
          git push

      - name: Run mypy
        run: |
          mypy --strict plotting-service/plotting_service
